attrs==22.2.0
awscli-local==0.20
beautifulsoup4==4.11.2
boto3==1.26.88
botocore==1.29.88
certifi==2022.12.7
charset-normalizer==3.1.0
coverage==7.2.1
exceptiongroup==1.1.0
idna==3.4
iniconfig==2.0.0
jmespath==1.0.1
localstack-client==1.39
lxml==4.9.2
packaging==23.0
pluggy==1.0.0
PyJWT==2.6.0
pytest==7.2.2
pytest-cov==4.0.0
pytest-mock==3.10.0
python-dateutil==2.8.2
requests==2.28.2
s3transfer==0.6.0
simplejson==3.18.3
six==1.16.0
soupsieve==2.4
tomli==2.0.1
urllib3==1.26.14
requests-html